.timer-display-container {
    margin: 20px auto;

    display: flex;
    justify-content: center;

    font-size: 80px;
    font-weight: lighter;

    color: white;
}

.timer-display-item {
    margin: 0 10px;
}

@media screen and (max-width: 480px) {
    .timer-display-container {
        font-size: 60px;
    }
}
